body {
  background-image: url(mountains.jpg);
  background-size: 100%;
}

#container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin-top: 100px;
  border: solid 2px black;
}

#header {
  font-family: "Rubik Dirt", cursive;
  color: salmon;
  font-size: 50px;
  background-color: wheat;
  border: 1px dotted black;
  border-radius: 20px;
  padding: 5px;
}

.combine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-top: 20px;
  color: salmon;
  font-weight: bold;
}

.code {
  text-align: center;
}

#dimensionsText {
  margin-bottom: 0px;
  color: antiquewhite;
}

.dimensionsSlider {
  border: 2px solid white;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rainbow {
  margin-top: 15px;
}

.color {
  background-color: darkslateblue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-family: "VT323", monospace;
  font-size: 20px;
  width: 83px;
}

.color:hover {
  transform: scale(1.1);
}

.color:active {
  background-color: red;
  border: 5px black solid;
}

#go {
  width: 33.8px;
}

#reset {
  margin-top: 20px;
}

.dimensionsInput {
  width: 90px;
  text-align: center;
}
